<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<element>
	<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://java.sun.com/xml/ns/javaee"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		version="2.5">
		<display-name>librariFinalTask</display-name>
		<welcome-file-list>
			<welcome-file>index.html</welcome-file>
		</welcome-file-list>
		<servlet>
			<servlet-class>by.htp.library.controller.SimpleServletController</servlet-class>
			<filter>
				<filter-name>FormEncodingSetterFilter</filter-name>
				<filter-class>by.htp.library.controller.SimpleServletController</filter-class>
				<init-param>
					<param-name>encoding</param-name>
					<param-value>UTF-8</param-value>
				</init-param>
			</filter>
			<filter-mapping>
				<filter-name>FormEncodingSetterFilter</filter-name>
				<url-pattern>/i18n-tutorial/*</url-pattern>
			</filter-mapping>
		</servlet>
	</web-app>
</element>